body {
    font-family: Tahoma, sans-serif;
  }
  
h1 {
    height: 60px;
    background-color: lightgray;
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
}

  table, td {
    border: 1px solid gray;
  }
  
  td {
    margin: 0;
    width: 180px;
    padding: 3px;
  }
  
  th {
    background-color: pink;
  }
  